body {
  background: lightgray;
}

.active {
  font-size: 1.2vw !important;
  font-weight: 900;
}

.black {
  color: #000 !important;
}

.black-stroke {
  stroke: #000 !important;
}

.hidden {
  visibility: hidden;
}


.fixed-100w {
  position: fixed;
  width: 100%;
}

.thirds-equal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 5rem;
}

.z-index-5 {
  z-index: 5;
}


.thirds-equal h2 {
  justify-self: center;
  padding: 1rem 0;
}
